* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #00418482;
}

section {
    padding-top: 100px;
    width: 100%;
    height: 500px;
    padding-left: 50px;
    padding-right: 50px;

    display: flex;
}

section > div:nth-of-type(1),
section > div:nth-of-type(2),
section > div:nth-of-type(3),
section > div:nth-of-type(4){
    height: 100%;
    width: 20%;
    border-radius: 20px;
    background-color: white;
    border: 2px solid black;
    margin-right: 20px;
    padding: 15px;
    overflow-y: auto;
}

section > div:nth-of-type(1) > p,
section > div:nth-of-type(2) > p,
section > div:nth-of-type(3) > p,
section > div:nth-of-type(4) > p{
    margin-bottom: 10px;
}

section > div:nth-of-type(3)  > ul > li > a{
    text-decoration: none;
    color: inherit;
}

li {
    list-style-type: none;
    min-height: 40px;
    width: 100%;
    border-radius: 10px;
    background-color: #ababff52;
    margin-bottom: 10px;

    display: flex;
    justify-content: center;
    align-items: center;
}

section > .control {
    width: 30%;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
}

section > .control > input {
    width: 80%;
    height: 40px;
    border-radius: 10px;
    padding-left: 10px;
    margin-bottom: 10px;
}

section > .control > div {
    width: 80%;
}

section > .control > div > div {
    width: 100%;
    margin-bottom: 20px;
}

section > .control > div > div > p {
    color: white;
    text-transform: uppercase;
    font-size: 18px;
    text-align: center;
}

section > .control > div > div{
    display: flex;
    flex-direction: column;
    align-items: center;
}

section > .control > div > div > div{
    display: flex;
    gap: 10px;
}

section > .control > div > div > div > button{
    width: 100%;
    padding: 0px 10px;
    height: 30px;
    border-radius: 30px;
}

.back > a{
    margin-left: 30px;
    color: white;
    text-decoration: none;
}

.back{
    padding-top: 30px;
}

:root {
    scrollbar-color: #fff #042045;
    scrollbar-width: thin;

    --font: 'Lato', sans-serif;
    --primary: #79C7C5;
    --secondary: #A1E2D9;
    --white: #F9FBFF;
    --dark: #777777;
}
::-webkit-scrollbar {
    width: 16px;
}
::-webkit-scrollbar-track {
    background: #042045;
}
::-webkit-scrollbar-thumb {
    border: 4px solid #042045;
    border-radius: 8px;
    background: #fff;
}
::-webkit-scrollbar-thumb:hover {
    background: #fff;
}