*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto';
}

.section1{
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 90px;
    background-color: #f8f8f8;
}

.section1 > div:first-of-type{
    display: flex;
    justify-content: space-around;
    gap: 80px;
}

.section1 > h3{
    font-size: 32px;
    margin-bottom: 35px;
}

.section1 > div:first-of-type > div{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    text-align: center;
    width: 200px;
}

.section1 > div:first-of-type > div > h4{
    font-size: 22px;
    margin-bottom: 8px;
}

.section1 > div:first-of-type > div > p{
    color: #7b7a8c;
}

.section2{
    padding-top: 50px;
    padding-bottom: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

.section2 > h4{
    font-size: 20px;
}

.section2 > p{
    width: 60%;
    text-align: center;
    margin-bottom: 20px;
    color: #7b7a8c;
}

.section2 > div:first-of-type{
    display: flex;
    gap: 30px;
}

.section2 > div:first-of-type > button{
    border: 0;
    background-color: none;
    border-radius: 20px;
    width: 140px;
    height: 45px;
    color: white;
}



.section3{
    background-image: url('../images/home-page-bg.png');
    background-size:cover;
    height: 700px;
    background-repeat: no-repeat;
    background-position: 50%;
    background-color: gray;
    background-blend-mode: multiply;
    display: flex;
    flex-direction: column;
    align-items: center;
}



.section3 > h3{
    margin-top: 70px;
    color: white;
    font-size: 40px;
    margin-bottom: 60px;
}

.section3 > div{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 200px;
    margin-top: 100px;
}

.section3 > div > div{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 30%;

    color: white;
    text-align: center;
}

.section3 > div > div > h4 {
    font-size: 30px;
    margin-bottom: 20px;
}

.section3 > div > div > svg{
    width: 60%;
    margin-bottom: 15px;
}

.section3 > div > div > p{
    font-size: 24px;
}
