*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto';
}

a, button{
    cursor: pointer;
}

header{
    padding-left: 6%;
    padding-right: 6%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #00E0FF;
}

header > div:first-of-type{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
}

header > div:first-of-type > div{
    display: flex;
    justify-content: space-between;
    color: #E8FFE8;
    gap: 30px;
    font-size: 1.2em;
    font-weight: bold;
}

header > div > img{
    height: 100px;
    width: 100px;
}

header > div > button{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding-left: 1em;
    padding-right: 1em;

    height: 40px;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #000;
    background-color: #fff;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
}

header > div > button:hover{
    background-color: #fcf636;
    box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
    color: black;
    transform: translateY(-7px);
}

header > div > button:active{
    transform: translateY(-1px);
}

header > div:nth-of-type(2){
    display: flex;
    gap: 30px;
}

header > div:nth-of-type(2) > button > svg{
    height: 40%;
}

.cyberpunk-checkbox {
    appearance: none;
    width: 20px;
    height: 20px;
    border: 2px solid #30cfd0;
    border-radius: 5px;
    background-color: transparent;
    display: inline-block;
    position: relative;
    margin-right: 10px;
    cursor: pointer;
}

.cyberpunk-checkbox:before {
    content: "";
    background-color: #30cfd0;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    width: 10px;
    height: 10px;
    border-radius: 3px;
    transition: all 0.3s ease-in-out;
}

.cyberpunk-checkbox:checked:before {
    transform: translate(-50%, -50%) scale(1);
}

.cyberpunk-checkbox-label {
    font-size: 18px;
    color: black;
    cursor: pointer;
    user-select: none;
    display: flex;
    align-items: center;
}

.inputGroup {
    font-family: 'Segoe UI', sans-serif;
    margin: 1em 0 1em 0;
    max-width: 190px;
    position: relative;
}

.inputGroup input {
    font-size: 100%;
    padding: 0.8em;
    outline: none;
    border: 2px solid rgb(200, 200, 200);
    background-color: white;
    border-radius: 20px;
    width: 100%;
}

.inputGroup label {
    font-size: 100%;
    position: absolute;
    left: 0;
    padding: 0.8em;
    margin-left: 0.5em;
    pointer-events: none;
    transition: all 0.3s ease;
    color: rgb(100, 100, 100);
}

.inputGroup :is(input:focus, input:valid)~label {
    transform: translateY(-50%) scale(.9);
    margin: 0em;
    margin-left: 1.3em;
    padding: 0.4em;
    background-color: #e8e8e8;
}

.inputGroup :is(input:focus, input:valid) {
    border-color: rgb(150, 150, 200);
}

.SearchButton {
    outline: none;
    cursor: pointer;
    border: none;
    padding: 0.9rem 2rem;
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    position: relative;
    display: inline-block;
    letter-spacing: 0.05rem;
    font-weight: 700;
    font-size: 17px;
    border-radius: 500px;
    overflow: hidden;
    background: #66ff66;
    color: ghostwhite;
}

.SearchButton > span {
    position: relative;
    z-index: 10;
    transition: color 0.4s;
}

.SearchButton:hover > span {
    color: black;
}

.SearchButton::before,
.SearchButton::after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
}

.SearchButton::before {
    content: "";
    background: #000;
    width: 120%;
    left: -10%;
    transform: skew(30deg);
    transition: transform 0.4s cubic-bezier(0.3, 1, 0.8, 1);
}

button:hover::before {
    transform: translate3d(100%, 0, 0);
}


.section1{
    background-color: #e820c0;
    height: 400px;
}

.section1 > h1{
    padding-top: 10px;
    text-align: center;
    font-size: 69px;
}

.section1 > p{
    margin-top: 20px;
    margin-left: 25%;
    text-align: center;
    font-size: 20px;
    width: 50%;
}

.section1 > div{
    background-color: #00E0FF;
    width: 40%;
    margin-left: 30%;
    height: 40%;
    border-radius: 15px;
    box-shadow: 10px 10px 10px 10px black;
}

.section1 > div > div{
    margin-top: 30px;
    display: flex;
    flex-direction: row;
}

.section1 > div > div > div:first-of-type{
    margin-left: 15%;
    display: flex;
    flex-direction: row;
}

.section1 > div > div > div:nth-of-type(3){
    margin-top: 17px;
    display: flex;
    flex-direction: column;
}

.section1 > div > div > div{
    margin-left: 5%;
    display: flex;
    flex-direction: row;
}

.section1 > div > button{
    margin-top: 20px;
    margin-left: 40%;
}

.section2 > div{
    width: 50%;
    height: 200px;
    margin-left: 25%;
    background-color: #A6FFF2;
    display: flex;
    flex-direction: column;
}

.section2 > div > div{
    display: flex;
    flex-direction: row;
}

.section2 > div > h1{
    text-align: center;
    font-size: 80px;
    margin-bottom: 20px;
}

.section2 > div > div{
    width: 60%;
    margin-left: 20%;
}

.section2 > div > div > p{
    font-size: 30px;
    margin-right: 70px;
}

.section2 > div > div > p:first-of-type{
    margin-left: 50px;
}

.section3 > div{
    width: 50%;
    height: 200px;
    margin-left: 25%;
    background-color: #E8FFE8;
    display: flex;
    flex-direction: column;
}

.section3 > div > div{
    display: flex;
    flex-direction: row;
}

.section3 > div > h1{
    text-align: center;
    font-size: 80px;
    margin-bottom: 20px;
}

.section3 > div > div{
    width: 60%;
    margin-left: 20%;
}

.section3 > div > div > p{
    font-size: 30px;
    margin-right: 70px;
}

.section3 > div > div > p:first-of-type{
    margin-left: 50px;
}